budy,*{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    width: 100%;
}

.menu .item{
    width: 25%;
    background-color: blue;
    color: white;
    height: 30px;
    line-height: 30px;
    border: 1px solid white;
    text-align: center;
    position: relative;
}

.menu .item:first-child{
    border-left: none;
}

.menu .item:hover{
    background-color: red;
}

.menu2 .item2{
    background-color: blue;
    text-align: center;
    border-top: 1px solid white;
    width: 100%;
    
}

.menu .item:hover .item2{
    background-color: red;
    
}

.menu .menu2{
    display: none;
    
}


.menu .item:hover .menu2{
    width: 300%;
    display: flex;
    position: absolute;
    left: -100%;
}

