body , *{
    margin: 0;
    padding: 0;
}

.menu{
    width: 200px;
    background-color: blue;
}

.menu .item{
    
    text-indent: 20px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid white;
    color: white; 
    position: relative;
   
}


.menu .item:hover{
    background-color: red;
}


.item .menu2{
    width: 400px;
    background-color:blue;
    text-align: center;
}

.menu .menu2{
    display: none;
}

.menu .item:hover .menu2{
    display: block;
    background-color: red;
    position: absolute;
    top: 0;
    left: 200px;
   
}










