

/* body,*{
    margin: 0;
    padding: 0;
} */
.all{
    width: 960px;
    background-color: #FACFCF;
    height: 600px;
}

header{
    margin-left:50px;
}
header span{
    color: purple;

}

header h1{

    color: white;
}
.menu{
    color: white;
    display: flex;
    background-color: #420000;
    height: 30px;
    line-height: 30px;
    width: 90%;
    margin-top: -17px;
}

.menu .contact{
    flex: 1;
}

.sidebar{
    color: white;
    margin-left: 50px;
    margin-top: 5px;
    background-color: #9D6F68;
    width: 204px;
    height: 400px;
   
}
.fix{
    display: flex;
    width: 800px;
    
}

.fix .left{
    width: 200px;
}

.fix .content{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
}

.footer{
    text-align: center;
    margin-top: 40px;
    color: white;
}
.left{
    height: 40px;
    line-height: 40px;
}
